@use '../root/variables';

.book-library__navbar {
  position: absolute;
  top: 0;
  left: -500px;
  display: flex;
  align-items: start;
  flex-direction: column;
  row-gap: 30px;
  height: 100vh;
  width: 81vw;
  padding: 30px;
  background-color: var(--white-color-fav);
  z-index: 100;
  transition: 0.2s;
}

.book-library__logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.book-library__nav-logo i {
  padding: 5px;
  font-size: 22px;
  color: var(--primary-color);
}

.book-library__nav-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 15px;
}

.book-library__nav-btn {
  display: flex;
  align-items: center;
  column-gap: 15px;
  font-size: clamp(1rem, 0.9299999999999999rem + 0.4vw, 1.25rem);
  color: var(--text-color-light);
  transition: 0.3s;
}
.book-library__nav-icon {
  padding: 5px;
  border-radius: 8px;
  font-size: 20px;
  color: var(--icon-color-dark);
  transition: 0.3s;
}

.book-library__nav-btn:hover {
  color: var(--primary-color);
}

.book-library__nav-btn:hover .book-library__nav-icon {
  color: var(--white-color-fav);
  background-color: var(--primary-color);
}

.nav-btn-open-form,
.nav-btn-layout {
  display: none;
}

/*########## Media Queries - Tablet ##########*/

@media (min-width: 500px) {
  .book-library__nav-logo span,
  .book-library__nav-btn-close,
  .book-library__nav-txt,
  .book-library__btn-add-book {
    display: none;
  }

  .nav-btn-open-form,
  .nav-btn-layout {
    display: flex;
  }

  .book-library__navbar {
    grid-area: 1/1/2/2;
    position: static;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    width: 54px;
    padding: 0;
    padding-top: 25px;
    box-shadow: var(--shadow);
  }

  .book-library__logo-container {
    justify-content: center;
  }
}

/*########## Media Queries - Desktop ##########*/

@media (min-width: 1023px) {
  .book-library__nav-logo span,
  .book-library__nav-txt {
    display: block;
  }

  .book-library__navbar {
    grid-area: 1/1/4/2;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    width: auto;
    padding: 30px;
  }

  .book-library__logo-container {
    justify-content: start;
    width: 100%;
  }

  .book-library__nav-logo {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }
}

/*########## Reusables ##########*/

.open-navbar {
  left: 0;
}
