@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"); /* @use './variables'; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
/* ########## Colors ########## */
/* Cambio de color favorito 219 */
/* Modo de color HSL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
/* ########## Colors ########## */
/* Cambio de color favorito 219 */
/* Modo de color HSL */
:root {
  --favorite-hue: 200; /* Púrpura 250 - Verde 142 - Azul 230 - Rosa 340 */
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 13%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 95%);
  /* Colores en base al color favorito */
  --white-color-fav: hsl(var(--favorite-hue), 0%, 100%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 27%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 47%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 56%);
  --border-radius: 8px;
}

/*########## Font and typography ##########*/
/* .5rem # 8px, 1rem # 16px, 1.5rem # 24px ... */
/*########## Font weight ##########*/
/*########## Padding ##########*/
/* padding-navbar
padding-book-info */
/*########## Padding ##########*/
/*########## Shadows ##########*/
/*########## z index ##########*/
/* Font size for large devices */
/*########## Variables Dark theme ##########*/
/*########## Button Dark/Light ##########*/
.dark {
  --favorite-hue: 200;
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 30%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 7%);
  --white-color-fav: hsl(var(--favorite-hue), 0%, 7%);
  --card-color: hsl(var(--favorite-hue), 0%, 12%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 70%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 70%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 76%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: var(--light-primary-color);
  color: var(--text-color-dark);
}

h1,
h2,
h3,
h4 {
  color: var(--text-color-dark);
  font-weight: 600;
}

h2 {
  font-size: clamp(1rem, 0.93rem + 0.4vw, 1.25rem);
}

h3 {
  font-size: clamp(0.875rem, 0.805rem + 0.4vw, 1.125rem);
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

:root {
  --favorite-hue: 200; /* Púrpura 250 - Verde 142 - Azul 230 - Rosa 340 */
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 13%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 95%);
  /* Colores en base al color favorito */
  --white-color-fav: hsl(var(--favorite-hue), 0%, 100%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 27%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 47%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 56%);
  --border-radius: 8px;
}

/*########## Font and typography ##########*/
/* .5rem # 8px, 1rem # 16px, 1.5rem # 24px ... */
/*########## Font weight ##########*/
/*########## Padding ##########*/
/* padding-navbar
padding-book-info */
/*########## Padding ##########*/
/*########## Shadows ##########*/
/*########## z index ##########*/
/* Font size for large devices */
/*########## Variables Dark theme ##########*/
/*########## Button Dark/Light ##########*/
.dark {
  --favorite-hue: 200;
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 30%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 7%);
  --white-color-fav: hsl(var(--favorite-hue), 0%, 7%);
  --card-color: hsl(var(--favorite-hue), 0%, 12%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 70%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 70%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 76%);
}

.logo {
  font-size: 20px;
  color: var(--dark-primary-color);
}

/* ########## Colors ########## */
/* Cambio de color favorito 219 */
/* Modo de color HSL */
:root {
  --favorite-hue: 200; /* Púrpura 250 - Verde 142 - Azul 230 - Rosa 340 */
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 13%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 95%);
  /* Colores en base al color favorito */
  --white-color-fav: hsl(var(--favorite-hue), 0%, 100%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 27%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 47%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 56%);
  --border-radius: 8px;
}

/*########## Font and typography ##########*/
/* .5rem # 8px, 1rem # 16px, 1.5rem # 24px ... */
/*########## Font weight ##########*/
/*########## Padding ##########*/
/* padding-navbar
padding-book-info */
/*########## Padding ##########*/
/*########## Shadows ##########*/
/*########## z index ##########*/
/* Font size for large devices */
/*########## Variables Dark theme ##########*/
/*########## Button Dark/Light ##########*/
.dark {
  --favorite-hue: 200;
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 30%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 7%);
  --white-color-fav: hsl(var(--favorite-hue), 0%, 7%);
  --card-color: hsl(var(--favorite-hue), 0%, 12%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 70%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 70%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 76%);
}

.btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.book-library__btn-add-book {
  position: absolute;
  bottom: 0;
  right: 0;
  display: grid;
  place-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin: 15px;
  font-size: 20px;
  color: var(--white-color-fav);
  background-color: var(--primary-color);
  z-index: 100;
}

/* ########## Colors ########## */
/* Cambio de color favorito 219 */
/* Modo de color HSL */
:root {
  --favorite-hue: 200; /* Púrpura 250 - Verde 142 - Azul 230 - Rosa 340 */
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 13%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 95%);
  /* Colores en base al color favorito */
  --white-color-fav: hsl(var(--favorite-hue), 0%, 100%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 27%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 47%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 56%);
  --border-radius: 8px;
}

/*########## Font and typography ##########*/
/* .5rem # 8px, 1rem # 16px, 1.5rem # 24px ... */
/*########## Font weight ##########*/
/*########## Padding ##########*/
/* padding-navbar
padding-book-info */
/*########## Padding ##########*/
/*########## Shadows ##########*/
/*########## z index ##########*/
/* Font size for large devices */
/*########## Variables Dark theme ##########*/
/*########## Button Dark/Light ##########*/
.dark {
  --favorite-hue: 200;
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 30%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 7%);
  --white-color-fav: hsl(var(--favorite-hue), 0%, 7%);
  --card-color: hsl(var(--favorite-hue), 0%, 12%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 70%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 70%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 76%);
}

.book-card {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(3, 3, 3, 0.15);
  background-color: var(--card-color);
  cursor: pointer;
}

.book-card::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: transparent;
}

.book-card__cover {
  width: 100%;
  height: clamp(9.375rem, 7.625rem + 10vw, 15.625rem);
  border-radius: 8px 8px 0px 0px;
}

.book-card__info {
  padding: 10px;
}

/* ########## Colors ########## */
/* Cambio de color favorito 219 */
/* Modo de color HSL */
:root {
  --favorite-hue: 200; /* Púrpura 250 - Verde 142 - Azul 230 - Rosa 340 */
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 13%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 95%);
  /* Colores en base al color favorito */
  --white-color-fav: hsl(var(--favorite-hue), 0%, 100%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 27%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 47%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 56%);
  --border-radius: 8px;
}

/*########## Font and typography ##########*/
/* .5rem # 8px, 1rem # 16px, 1.5rem # 24px ... */
/*########## Font weight ##########*/
/*########## Padding ##########*/
/* padding-navbar
padding-book-info */
/*########## Padding ##########*/
/*########## Shadows ##########*/
/*########## z index ##########*/
/* Font size for large devices */
/*########## Variables Dark theme ##########*/
/*########## Button Dark/Light ##########*/
.dark {
  --favorite-hue: 200;
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 30%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 7%);
  --white-color-fav: hsl(var(--favorite-hue), 0%, 7%);
  --card-color: hsl(var(--favorite-hue), 0%, 12%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 70%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 70%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 76%);
}

.icon {
  font-size: 20px;
  color: var(--dark-primary-color);
  transition: 0.2s;
}

.icon:hover {
  color: var(--primary-color);
}

/* ########## Colors ########## */
/* Cambio de color favorito 219 */
/* Modo de color HSL */
:root {
  --favorite-hue: 200; /* Púrpura 250 - Verde 142 - Azul 230 - Rosa 340 */
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 13%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 95%);
  /* Colores en base al color favorito */
  --white-color-fav: hsl(var(--favorite-hue), 0%, 100%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 27%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 47%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 56%);
  --border-radius: 8px;
}

/*########## Font and typography ##########*/
/* .5rem # 8px, 1rem # 16px, 1.5rem # 24px ... */
/*########## Font weight ##########*/
/*########## Padding ##########*/
/* padding-navbar
padding-book-info */
/*########## Padding ##########*/
/*########## Shadows ##########*/
/*########## z index ##########*/
/* Font size for large devices */
/*########## Variables Dark theme ##########*/
/*########## Button Dark/Light ##########*/
.dark {
  --favorite-hue: 200;
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 30%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 7%);
  --white-color-fav: hsl(var(--favorite-hue), 0%, 7%);
  --card-color: hsl(var(--favorite-hue), 0%, 12%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 70%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 70%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 76%);
}

.book-library {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  overflow: hidden;
}

/*########## Media Queries - Tablet ##########*/
@media (min-width: 500px) {
  .book-library {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
  }
}
/*########## Media Queries - Desktop ##########*/
@media (min-width: 1023px) {
  .book-library {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr;
  }
}
/* ########## Colors ########## */
/* Cambio de color favorito 219 */
/* Modo de color HSL */
:root {
  --favorite-hue: 200; /* Púrpura 250 - Verde 142 - Azul 230 - Rosa 340 */
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 13%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 95%);
  /* Colores en base al color favorito */
  --white-color-fav: hsl(var(--favorite-hue), 0%, 100%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 27%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 47%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 56%);
  --border-radius: 8px;
}

/*########## Font and typography ##########*/
/* .5rem # 8px, 1rem # 16px, 1.5rem # 24px ... */
/*########## Font weight ##########*/
/*########## Padding ##########*/
/* padding-navbar
padding-book-info */
/*########## Padding ##########*/
/*########## Shadows ##########*/
/*########## z index ##########*/
/* Font size for large devices */
/*########## Variables Dark theme ##########*/
/*########## Button Dark/Light ##########*/
.dark {
  --favorite-hue: 200;
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 30%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 7%);
  --white-color-fav: hsl(var(--favorite-hue), 0%, 7%);
  --card-color: hsl(var(--favorite-hue), 0%, 12%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 70%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 70%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 76%);
}

.book-library__search-bar,
.book-library__user-btn {
  display: none;
}

.book-library__header {
  grid-area: 1/1/2/2;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 15px 15px;
  background-color: var(--white-color-fav);
  transition: 0.5s;
}

.book-library__logo i {
  color: var(--primary-color);
}

/*########## Media Queries - Tablet ##########*/
@media (min-width: 500px) {
  .book-library__header {
    display: none;
  }
}
/*########## Media Queries - Desktop ##########*/
@media (min-width: 1023px) {
  .book-library__logo,
  .book-library__menu-btn,
  .book-library__layout {
    display: none;
  }
  .book-library__search-bar,
  .book-library__user-btn {
    display: block;
  }
  .book-library__header {
    grid-area: 1/2/2/4;
    display: flex;
    padding: 25px 20px 15px 20px;
    box-shadow: var(--shadow);
  }
  .book-library__search-input {
    padding: 10px 5px;
    background-color: var(--light-primary-color);
    border: none;
    outline: none;
  }
  .book-library__user-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
  }
  .book-library__user-img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
  }
}
.book-library__user-btn:hover i {
  color: var(--primary-color);
}

/*########## Reusables ##########*/
.btn-layout-is-active > i {
  color: var(--primary-color);
}

/* ########## Colors ########## */
/* Cambio de color favorito 219 */
/* Modo de color HSL */
:root {
  --favorite-hue: 200; /* Púrpura 250 - Verde 142 - Azul 230 - Rosa 340 */
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 13%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 95%);
  /* Colores en base al color favorito */
  --white-color-fav: hsl(var(--favorite-hue), 0%, 100%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 27%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 47%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 56%);
  --border-radius: 8px;
}

/*########## Font and typography ##########*/
/* .5rem # 8px, 1rem # 16px, 1.5rem # 24px ... */
/*########## Font weight ##########*/
/*########## Padding ##########*/
/* padding-navbar
padding-book-info */
/*########## Padding ##########*/
/*########## Shadows ##########*/
/*########## z index ##########*/
/* Font size for large devices */
/*########## Variables Dark theme ##########*/
/*########## Button Dark/Light ##########*/
.dark {
  --favorite-hue: 200;
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 30%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 7%);
  --white-color-fav: hsl(var(--favorite-hue), 0%, 7%);
  --card-color: hsl(var(--favorite-hue), 0%, 12%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 70%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 70%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 76%);
}

.book-library__navbar {
  position: absolute;
  top: 0;
  left: -500px;
  display: flex;
  align-items: start;
  flex-direction: column;
  row-gap: 30px;
  height: 100vh;
  width: 81vw;
  padding: 30px;
  background-color: var(--white-color-fav);
  z-index: 100;
  transition: 0.2s;
}

.book-library__logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.book-library__nav-logo i {
  padding: 5px;
  font-size: 22px;
  color: var(--primary-color);
}

.book-library__nav-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 15px;
}

.book-library__nav-btn {
  display: flex;
  align-items: center;
  column-gap: 15px;
  font-size: clamp(1rem, 0.93rem + 0.4vw, 1.25rem);
  color: var(--text-color-light);
  transition: 0.3s;
}

.book-library__nav-icon {
  padding: 5px;
  border-radius: 8px;
  font-size: 20px;
  color: var(--icon-color-dark);
  transition: 0.3s;
}

.book-library__nav-btn:hover {
  color: var(--primary-color);
}

.book-library__nav-btn:hover .book-library__nav-icon {
  color: var(--white-color-fav);
  background-color: var(--primary-color);
}

.nav-btn-open-form,
.nav-btn-layout {
  display: none;
}

/*########## Media Queries - Tablet ##########*/
@media (min-width: 500px) {
  .book-library__nav-logo span,
  .book-library__nav-btn-close,
  .book-library__nav-txt,
  .book-library__btn-add-book {
    display: none;
  }
  .nav-btn-open-form,
  .nav-btn-layout {
    display: flex;
  }
  .book-library__navbar {
    grid-area: 1/1/2/2;
    position: static;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    width: 54px;
    padding: 0;
    padding-top: 25px;
    box-shadow: var(--shadow);
  }
  .book-library__logo-container {
    justify-content: center;
  }
}
/*########## Media Queries - Desktop ##########*/
@media (min-width: 1023px) {
  .book-library__nav-logo span,
  .book-library__nav-txt {
    display: block;
  }
  .book-library__navbar {
    grid-area: 1/1/4/2;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    width: auto;
    padding: 30px;
  }
  .book-library__logo-container {
    justify-content: start;
    width: 100%;
  }
  .book-library__nav-logo {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }
}
/*########## Reusables ##########*/
.open-navbar {
  left: 0;
}

/* ########## Colors ########## */
/* Cambio de color favorito 219 */
/* Modo de color HSL */
:root {
  --favorite-hue: 200; /* Púrpura 250 - Verde 142 - Azul 230 - Rosa 340 */
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 13%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 95%);
  /* Colores en base al color favorito */
  --white-color-fav: hsl(var(--favorite-hue), 0%, 100%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 27%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 47%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 56%);
  --border-radius: 8px;
}

/*########## Font and typography ##########*/
/* .5rem # 8px, 1rem # 16px, 1.5rem # 24px ... */
/*########## Font weight ##########*/
/*########## Padding ##########*/
/* padding-navbar
padding-book-info */
/*########## Padding ##########*/
/*########## Shadows ##########*/
/*########## z index ##########*/
/* Font size for large devices */
/*########## Variables Dark theme ##########*/
/*########## Button Dark/Light ##########*/
.dark {
  --favorite-hue: 200;
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 30%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 7%);
  --white-color-fav: hsl(var(--favorite-hue), 0%, 7%);
  --card-color: hsl(var(--favorite-hue), 0%, 12%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 70%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 70%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 76%);
}

.book-library__my-books {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: var(--white-color-fav);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Para navegadores basados en WebKit */
.book-library__my-books::-webkit-scrollbar {
  width: 3px; /* Ancho de la barra de desplazamiento */
}

.book-library__my-books::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Color del 'pulgón' de la barra de desplazamiento */
  border-radius: 6px; /* Bordes redondeados del 'pulgón' */
}

/* Para Internet Explorer y Edge */
.book-library__my-books::-ms-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

.book-library__my-books::-ms-thumb {
  background-color: #0059ff; /* Color del 'pulgón' de la barra de desplazamiento */
  border-radius: 6px; /* Bordes redondeados del 'pulgón' */
}

.my-books-cards {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}

/*########## Media Queries - Tablet ##########*/
@media (min-width: 500px) {
  .book-library__my-books {
    grid-area: 1/2/2/3;
    padding: 25px;
  }
}
/*########## Media Queries - Desktop ##########*/
@media (min-width: 1023px) {
  .book-library__my-books {
    grid-area: 2/2/4/3;
    padding: 25px;
    margin: 15px;
    width: auto;
    height: auto;
    border-radius: 8px;
  }
  .my-books-cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 15px;
  }
}
/*########## Reusables ##########*/
.grid-view {
  grid-template-columns: repeat(2, 1fr);
}

/* ########## Colors ########## */
/* Cambio de color favorito 219 */
/* Modo de color HSL */
:root {
  --favorite-hue: 200; /* Púrpura 250 - Verde 142 - Azul 230 - Rosa 340 */
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 13%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 95%);
  /* Colores en base al color favorito */
  --white-color-fav: hsl(var(--favorite-hue), 0%, 100%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 27%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 47%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 56%);
  --border-radius: 8px;
}

/*########## Font and typography ##########*/
/* .5rem # 8px, 1rem # 16px, 1.5rem # 24px ... */
/*########## Font weight ##########*/
/*########## Padding ##########*/
/* padding-navbar
padding-book-info */
/*########## Padding ##########*/
/*########## Shadows ##########*/
/*########## z index ##########*/
/* Font size for large devices */
/*########## Variables Dark theme ##########*/
/*########## Button Dark/Light ##########*/
.dark {
  --favorite-hue: 200;
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 30%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 7%);
  --white-color-fav: hsl(var(--favorite-hue), 0%, 7%);
  --card-color: hsl(var(--favorite-hue), 0%, 12%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 70%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 70%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 76%);
}

.book-library__book-info {
  position: absolute;
  top: 0;
  right: -1000px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, auto);
  place-items: center;
  /* row-gap: 15px; */
  height: 100vh;
  width: 100vw;
  padding: 25px;
  background-color: var(--dark-primary-color);
  z-index: 1000;
  transition: 0.2s;
}

.book-info__btn-close {
  justify-self: start;
  align-self: start;
}
.book-info__btn-close i {
  font-size: 30px;
  color: var(--white-color-fav);
  transition: 0.3s;
}

.book-info__cover {
  height: 200px;
  width: 160px;
  border-radius: 8px;
}

.book-info__btn-delete {
  display: flex;
  place-items: center;
  column-gap: 5px;
  padding: 15px 20px;
  border-radius: var(--border-radius);
  font-size: var(--normal-font-size);
  font-family: var(--font-black);
  color: var(--white-color-fav);
  background-color: var(--primary-color);
  transition: 0.2s;
}

.book-info__btn-delete i {
  color: var(--white-color-fav);
}

.book-info__btn-delete:hover {
  background-color: var(--dark-primary-color);
}

.book-info__read-container {
  display: flex;
  column-gap: 15px;
}

.book-info__btn-read {
  scale: 1.5;
}

/*########## Media Queries - Tablet ##########*/
@media (min-width: 500px) {
  .book-library__book-info {
    grid-area: 1/2/2/3;
    position: relative;
    height: 100%;
    width: 100%;
  }
}
/*########## Media Queries - Desktop ##########*/
@media (min-width: 1023px) {
  .book-library__book-info {
    grid-area: 2/3/4/3;
    position: static;
    height: 100%;
    width: 100%;
    padding: 25px 20px;
    box-shadow: var(--shadow);
    z-index: -100;
  }
  .book-info__btn-close {
    display: none;
  }
}
/*########## Reusables ##########*/
.open-book-info {
  right: 0;
}

/* ########## Colors ########## */
/* Cambio de color favorito 219 */
/* Modo de color HSL */
:root {
  --favorite-hue: 200; /* Púrpura 250 - Verde 142 - Azul 230 - Rosa 340 */
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 13%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 95%);
  /* Colores en base al color favorito */
  --white-color-fav: hsl(var(--favorite-hue), 0%, 100%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 27%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 47%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 56%);
  --border-radius: 8px;
}

/*########## Font and typography ##########*/
/* .5rem # 8px, 1rem # 16px, 1.5rem # 24px ... */
/*########## Font weight ##########*/
/*########## Padding ##########*/
/* padding-navbar
padding-book-info */
/*########## Padding ##########*/
/*########## Shadows ##########*/
/*########## z index ##########*/
/* Font size for large devices */
/*########## Variables Dark theme ##########*/
/*########## Button Dark/Light ##########*/
.dark {
  --favorite-hue: 200;
  --primary-color: hsl(var(--favorite-hue), 100%, 50%);
  --dark-primary-color: hsl(var(--favorite-hue), 100%, 30%);
  --light-primary-color: hsl(var(--favorite-hue), 100%, 7%);
  --white-color-fav: hsl(var(--favorite-hue), 0%, 7%);
  --card-color: hsl(var(--favorite-hue), 0%, 12%);
  --gray-color: hsl(var(--favorite-hue), 8%, 96%);
  --text-color-light: hsl(var(--favorite-hue), 1%, 70%);
  --text-color-dark: hsl(var(--favorite-hue), 14%, 54%);
  --icon-color-light: hsl(var(--favorite-hue), 13%, 70%);
  --icon-color-dark: hsl(var(--favorite-hue), 11%, 76%);
}

.book-info__form {
  position: absolute;
  top: -1000px;
  left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  height: 100vh;
  width: 100vw;
  padding: 25px 30px;
  background-color: var(--white-color-fav);
  z-index: 1000;
  transition: 0.5s;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--dark-primary-color);
  border-radius: 5px;
  outline-color: var(--primary-color);
  color: var(--primary-color);
}

.form-checkbox {
  scale: 1.5;
}

.book-info__btn-submit {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  padding: 15px;
  border-radius: var(--border-radius);
  font-size: var(--normal-font-size);
  font-family: var(--font-black);
  color: var(--white-color-fav);
  background-color: var(--primary-color);
  transition: 0.2s;
}

.book-info__btn-submit:hover {
  background-color: var(--dark-primary-color);
}

/*########## Media Queries - Tablet ##########*/
@media (min-width: 500px) {
  .book-info__form {
    grid-area: 1/2/2/3;
    top: 0;
    left: -1200px;
    height: 100%;
    width: 100%;
    padding: 25px 40px;
    box-shadow: 1px 1px 2px black;
  }
}
/*########## Media Queries - Desktop ##########*/
@media (min-width: 1023px) {
  .book-library__form-container {
    position: absolute;
    top: -1500px;
    left: 0;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background: rgba(0, 100, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: 1s;
  }
  .book-info__form {
    grid-area: auto;
    position: static;
    width: 400px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  }
}
/*########## Reusables ##########*/
.open-form {
  top: 0;
}

.open-left-form {
  left: 0;
}

/*# sourceMappingURL=styles.css.map */
